.side-content {
    position: fixed;
    height: 100%;
    transition: width 0.28s;
    // font-size: 0;
    top: 80px;
    left: 0;
    overflow: auto;
    text-align: left;
    padding-bottom: 80px;
    box-shadow: 1px 0px 1px #eaeaea;
    .el-scrollbar__view {
        height: 100%;
        .el-menu {
            height: 100%;
        }
    }
    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
    .el-submenu {
        .el-menu-item {
            min-width: 179px !important;
        }
    }
    .el-radio-group {
        .el-radio-button {
            width: 100%;
            .el-radio-button__inner {
                border: none;
                background: #23313f !important;
                width: 100%;
                color: #eaeaea;
                text-align: left;
            }
        }
        .el-radio-button:first-child .el-radio-button__inner {
            border-left: none !important;
        }
    }
}